@page
@model IPSubnetModel
@{
    ViewData["Title"] = "IP Subnet";
}
<h1>@ViewData["Title"]</h1>

<p>This subnet calculator allows the user to input an IP address, subnet mask, and class. The calculator will output the network address, broadcast address, number of hosts, CIDR, etc.  </p>
