@page
@model SubnetCalc.Pages.VisualizerModel
@{
    ViewData["Title"] = "VLSM Visualizer";
}

<link rel="stylesheet" href="~/css/visualizer.css" />

<div class="container mt-4">
    <h2 class="text-center mb-4">VLSM Visualizer Tool</h2>

    <div class="mb-3">
        <label for="baseIp">Base Network IP:</label>
        <input type="text" id="baseIp" class="form-control" placeholder="e.g. 192.168.0.0/24" />
        <button id="calculateBtn" class="btn btn-primary mt-2">Calculate Subnets</button>
    </div>

    <div class="d-flex">
        <div id="toolbox" class="me-3">
            <h5>Toolbox</h5>
            <img src="~/icons/router.svg" draggable="true" class="draggable" data-type="router" />
            <img src="~/icons/switch.svg" draggable="true" class="draggable" data-type="switch" />
            <img src="~/icons/svg.png" draggable="true" class="draggable" data-type="pc" />
        </div>

        <div id="canvas" class="canvas-area"></div>
    </div>
</div>

@section Scripts {
    <script src="~/js/visualizer.js"></script>
}
