@page
@model SubnetCalc.Pages.VLSMModel
@{
    ViewData["Title"] = "VLSM";
}
<h1>@ViewData["Title"]</h1>

<p>This is a tool to do Variable Length Subnet Masks. You can use this by inputting an IP and the CIDR as well as how many subnets you will need. Add the number of hosts for each specific subnet and click generate. It will output the hosts available, unused hosts, network address, CIDR, subnet mask, useable range, and the broadcast address. </p>

